@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/*global color variables*/
:root {
  --primary-text-color: rgb(255, 255, 255);
  --highlight-text-color: rgb(255, 217, 0);
}

html {
  font-family: "Inria Sans";
  background-image: url(images/Gemini_Generated_Image_page\ background1.png);
  background-repeat: no-repeat;
   background-size: cover, 100%;
}
body {
  /* background-color: rgb(16, 5, 5); */
  color: var(--primary-text-color);
}

nav a {
  text-decoration: none;
  font-weight: 510;
  font-size: 1.4rem;
  color: var(--primary-text-color);
}

nav a:hover,
nav a:focus-visible {
  color: var(--highlight-text-color);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 8px;
}

h2 {
  color: var(--highlight-text-color);
}

.centered-text {
  margin: 0;
  font-size: 4rem;
  font-weight: 510;
}

.about-me {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 510;
}

.left-container {
  color: var(--highlight-text-color);
  letter-spacing: 0.15rem;
}

.vertical-line {
  background-color: white;
}

.project p {
  font-size: 1.4rem;
}

footer a {
  color: var(--highlight-text-color);
}

footer a:hover {
  font-size: large;
  font-weight: bolder;
  ++
}
