@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html {
  font-family: "Inria Sans";
}

nav a {
  text-decoration: none;
  font-weight: 510;
  font-size: 1.4rem;
  color: black;
}

nav a:hover,
nav a:focus-visible {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
