@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/*global color variables*/
:root {
  --primary-text-color: rgb(255, 243, 201);
  --highlight-text-color: rgb(255, 208, 0);
}

html {
  font-family: "Inria Sans";
}

body {
  background-color: rgb(10, 10, 10);
  color: var(--primary-text-color);
}

nav a {
  text-decoration: none;
  font-weight: 510;
  font-size: 1.4rem;
  color: var(--primary-text-color);
}

.active {
  text-transform: uppercase;
}

nav a:hover,
nav a:focus-visible {
  color: var(--highlight-text-color);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 8px;
}

.centered-text {
  margin: 0;
  font-size: 4rem;
  font-weight: 510;
  letter-spacing: 0.15rem;
}

.name {
  color: var(--highlight-text-color);
}

.vertical-line {
  background-color: white;
}
