/* html * {
    outline: 2px dotted rgb(240, 236, 236);
  } */

body {
  margin: 0;
  backdrop-filter: blur;
}

body div {
  height: 100%;
  margin: 0;
}

nav {
  padding-left: clamp(2rem, 10vw, 15rem);
  padding-right: clamp(2rem, 10vw, 15rem);
}

nav ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  column-gap: 2rem; /*min gap between navbar links*/
  padding-left: 2rem;
  padding-right: 2rem;
}

.centered-text {
  height: 85vh;
  display: grid;
  grid-template-columns: 300px 300px;
  columns: 3;
  gap: 10px;
  justify-content: center;
}

.name & .descriptor {
  justify-items: center;
}

.name {
  display: grid;
  align-items: center;
  text-align: right;
}

.descriptor {
  display: grid;
  align-items: center;
  text-align: left;
}

.projects-header {
  margin: 10% auto 5% auto;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  padding: 0% 20%;
}

.project-img {
  display: flex;
  justify-content: flex-end;
}

.project-txt-even {
  text-align: right;
}

.project-img-even {
  display: flex;
  justify-content: flex-start;
}

img {
  border-radius: 6px;
}

footer {
  text-align: center;
}

hr {
  margin: 10% 20% 5%;
}
