body {
  margin: 0;
}

body div {
  margin: 0;
}

nav {
  padding-left: clamp(2rem, 10vw, 15rem);
  padding-right: clamp(2rem, 10vw, 15rem);
}

nav ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  column-gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.centered-text {
  height: 90vh;
  display: grid;
  grid-template-columns: 35% 35%;
  columns: 3;
  gap: 10px;
  justify-content: center;
}

.container-galery {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.slides {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  width: 1300px;
  height: 670px;
  padding: 0 0.25rem;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides img {
  scroll-snap-align: start;
  scroll-margin-left: 54px;
  width: 1200px;
  flex-shrink: 0;
  object-fit: contain;
}

.thumbnails {
  justify-content: center;
  margin: 1rem;
  display: flex;
  gap: 1rem;
}

.thumbnails img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.scrollbar {
  width: 720px;
  height: 1px;
  background: #ccc;
  display: block;
  margin-top: 8px;
}

.thumb {
  height: 1px;
  position: absolute;
  width: 0;
  background: #000;
}

.left-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-self: right;
  align-items: center;
  text-align: right;
}

.about-page .left-container {
  margin-right: 10px;
}

.descriptor {
  display: grid;
  align-items: center;
  text-align: left;
}

.about-me {
  height: auto;
  display: grid;
  align-items: center;
  text-align: left;
}

.about-me h1 {
  margin: 0;
}

.about-me p {
  margin: 0;
}

.project-description {
  margin: 0 16% 0 16%;
}

#author-photo {
  margin-left: 10px;
}

.projects-header {
  margin: 2% auto 5% auto;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  padding: 0% 20%;
}

.project-img {
  display: flex;
  justify-content: flex-end;
  max-width: 600px;
  object-fit: contain;
}

.project-txt-even {
  text-align: right;
}

.project-img-even {
  display: flex;
  justify-content: flex-start;
  max-width: 550px;
  object-fit: contain;
}

img {
  border-radius: 6px;
  width: 100%;
}

footer {
  text-align: center;
}

hr {
  margin: 10% 20% 5%;
}

.projects-header h1 {
  padding-top: 1%;
}
